body {
    font-family: 'Comfortaa', cursive;
}

.ui.header {
    font-family: 'Acme', sans-serif;
    font-weight: bold;
}

.ui.masthead.segment {
    background: linear-gradient(135deg, rgba(24,42,115,1) 0%, rgba(33,138,174,1) 69%,
    			       rgba(32,167,172,1) 89%)!important;
    min-height: 70vh;
}

#teaching {
    min-height: 60vh;
}
#research {
    min-height: 50vh;
    background: linear-gradient(45deg, rgba(14,21,58,1) 0%,
				rgba(115,107,147,1) 48%,
    				rgba(243,201,215,1) 100%);    
}
#coding {
    min-height: 60vh;
}
#academics {
    min-height: 60vh;
}

.mobile {
    display: none!important;
}

.brand {
    font-weight: bold!important;
    font-size: 18px;
}
.ui.secondary.pointing.menu {
    border: none;
    border-bottom: 1px solid white;
}

@media only screen and (max-width: 700px) {
    .laptop {
	display: none!important;
    }
    .mobile {
	display: block!important;
    }
}

.bio {
    display: inline-block;
    width: 350px;
    font-size: 18px;
    color: white;
}
.bio .quote {
    display: inline-block;
    position: relative;
    top: -8px;
    color: #efcd83;
}
