---
layout: blog
permalink: blog
title: BLOG
---
<div class="ui basic segment container">
  <h1 class="ui header">MY RECENT POSTS</h1>
  <div class="ui segements">
    {% for post in site.posts %}
    <div class="ui raised segment">
      <a href="{{ post.url }}">
	<div class="ui header">{{ post.title }}</div>
      </a>
      {% for cat in post.categories %}
      <div class="ui teal label">{{ cat }}</div>
      {% endfor %}
      <br>
      {% for tag in post.tags %}
      #{{ tag }}&nbsp;
      {% endfor %}
      <p>{{ post.intro }}</p>
    </div>
    {% endfor %}
  </div>
</div>

<div class="ui segement container">
  <h1 class="ui header">Categories</h1>
  {% for category in site.categories %}
  <div class="ui teal circular button" href="{{ category.url }}">{{ category[0] }}</div>
  {% endfor %}
</div>
