---
layout: home
permalink: blog
title: Blog
---

<div class="ui basic segment container">
  <div class="ui stackable grid">
    
    <div class="twelve wide column">
      <h1 class="ui header">POSTS</h1>
      <div class="ui segements">
	{% for post in site.posts %}
	<div class="ui basic segment">
	<div class="ui horizontal divider">{{ post.date | date: "%B %-d" }}</div>
	  <a href="{{ post.url }}">
	    <h3 class="ui header">{{ post.title }}</h3>
	  </a>
	  {% for cat in post.categories %}
	  <div class="ui teal label">{{ cat }}</div>
	  {% endfor %}
	  <br>
	  {% for tag in post.tags %}
	  #{{ tag }}&nbsp;
	  {% endfor %}
	  <p>{{ post.intro | truncate: 100 }}</p>
	</div>
	
	{% endfor %}
      </div>
    </div>
    
    <div class="four wide column">
      <h3 class="ui dividing header">Categories</h3>
      {% for category in site.categories %}
      <div class="ui teal label" href="{{ category.url }}">{{ category[0] }}</div>
      {% endfor %}

      <h3 class="ui dividing header">Tags</h3>
      {% for tag in site.tags %}
      <a class="styled" href="{{ category.url }}">#{{ tag[0] }}&nbsp;</a>
      {% endfor %}

    </div>

  </div>
</div>


<script>
$(document).ready(function( ){
 $('.ui.menu .blog.item').addClass('active');
});
</script>
