---
layout: default
title: HOME
---

<div class="ui basic masthead segment">  
    {% include menu.html %}

    <div class="ui container">
      <div class="ui basic center aligned segment">
	<h2 class="ui inverted header">
	  Sushovan Majhi
	</h2>
	<img src="assets/me.JPG" class="ui centered small circular image">
	
	<p class="bio">
	  <i class="large quote left icon"></i>
	  I am currently in the fifth year of my PhD at Tulane University. Find my
	  research here. I love to do code more than research. Know about some of
	  projects that I am working on currently.
	</p>
	
	<div class="ui horizontal inverted divider">
	  FOLLOW ME
	</div>
	<a class="item" target="_blank" href="https://github.com/sushovan4">
	  <i class="ui big inverted circular github icon"></i>
	</a>
	
	<a class="item" target="_blank" href="https://www.linkedin.com/in/sushovan-majhi-04921815a">
	  <i class="ui big inverted circular linkedin icon"></i>
	</a>

	<a class="item" target="_blank" href="https://www.facebook.com/SushovanMajhi">
	  <i class="ui big inverted circular facebook f icon"></i>
	</a>
      </div>
    </div>
</div>


<div class="ui center aligned basic segment container" id="academics">
  <h2 class="ui  icon header">
     ACADEMICS
   <i class="ui blue university icon"></i>
    <div class="sub header">
      Currently, I am in the mathematics department of Tulane Univeristy.
    </div>
  </h2>

  <div class="ui four column divided stackable center aligned padded grid">
    <div class="row">
      <div class="column">
	  <img class="ui tiny centered circular image" src="assets/seakhala.jpeg"/>
	<div class="ui header">
	  Seakhala Benimadhab Higher Secondary School
	</div>
      </div> 
      <div class="column">
	<img class="ui tiny centered circular image" src="assets/vidya.jpeg"/>	
	<div class="ui header">
	  Ramakrishna Mission Vidyamandira
	</div>
      </div>
      <div class="column">
	<img class="ui tiny centered circular image" src="assets/seakhala.jpeg"/>
      	<div class="ui header">
	  TIFR, Bangalore
	</div>
      </div>
      <div class="column">
	<img class="ui tiny centered circular image" src="assets/seakhala.jpeg"/>
      	<div class="ui header">
	  Tulane University
	</div>
      </div>
    </div>
  </div>
</div>

<div class="ui basic segment" id="research">
  <div class="ui container">
    <h2 class="ui inverted center aligned icon header">
      RESEARCH
      <i class="lab icon"></i>
      <div class="sub header">I work with</div>
    </h2>
    <div class="ui segments">
      {% for project in site.research-projects %}
      <div class="ui segment">
      	<div class="ui dividing header">{{ project.title }}</div>
	<p>
	  Lorem Ipsum comes from sections 1.10.32 and
	  1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
	  Evil) by Cicero, written in 45 BC. This book is a treatise on the
	  theory of ethics, very popular during the Renaissance. The first line
	  of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
	  section 1.10.32.
	</p>
	<h4 class="ui header">Publications:</h4>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="ui basic segment" id="coding" style="margin-bottom: 0">
  <div class="ui container">
    <h2 class="ui center aligned icon header">
      CODING
      <i class="red code icon"></i>
      <div class="sub header">I work with</div>
    </h2>

    <div class="ui segments">
      <div class="ui segment">
	<div class="ui grid">
	  <div class="six wide column">
	    <div class="ui header">
	      <img class="ui small image" src="assets/vis-top.png"/>
	      <span class="ui green header">visual</span>Topology
	    </div>
	    <a href="http://smajhi.com/visual-topology">
	      <i class="ui large linkify icon"></i>
	    </a>
	    |
	    <a href="https://github.com/sushovan4/visual-topology">
	      <i class="ui large github icon"></i>
	    </a>	    
	  </div>
	  
	  <div class="ten wide column">
	    <p>This is a JS driven client-based visualization tool</p>
	  </div>	  
	</div>
      </div>
      <div class="ui segment">
	<div class="ui grid">
	  <div class="six wide column">
	    <div class="ui header">
	      <img class="ui small image" src="assets/gkfinder.png"/>
	      gkfinder.com
	    </div>
	    <a href="http://gkfinder.com">
	      <i class="ui large linkify icon"></i>
	    </a>
	   </div>
	  
	  <div class="ten wide column">
	    <p>This is a JS driven client-based visualization tool</p>
	  </div>	  
	</div>
      </div>
      <div class="ui segment">
	<div class="ui grid">
	  <div class="six wide column">
	    <div class="ui header">
	      <img class="ui small image" src="assets/avimukh.jpg"/>
	      avimukh.com
	    </div>
	    <a href="http://avimukh.com">
	      <i class="ui large linkify icon"></i>
	    </a>	    
	  </div>
	  
	  <div class="ten wide column">
	    <p>This is a JS driven client-based visualization tool</p>
	  </div>	  
	</div>
      </div>
    </div>
  </div>
</div>

