<div class="ui center aligned basic segment container" id="academics">
  <div class="ui warning message">
    <i class="large yellow exclamation triangle icon"></i>Under construction
  </div>
  <h2 class="ui  icon header">
     ACADEMICS
   <i class="ui blue university icon"></i>
    <div class="sub header">
      I am a math PhD student at Tulane University. 
    </div>
  </h2>

  <div class="ui four column divided stackable center aligned padded grid">
    <div class="row">
      <div class="column">
	  <img class="ui tiny centered circular image" src="assets/seakhala.jpeg"/>
	<div class="ui header">
	  Seakhala Benimadhab Higher Secondary School
	</div>
      </div> 
      <div class="column">
	<img class="ui tiny centered circular image" src="assets/vidya.jpeg"/>	
	<div class="ui header">
	  Ramakrishna Mission Vidyamandira
	</div>
      </div>
      <div class="column">
	<img class="ui tiny centered circular image" src="assets/seakhala.jpeg"/>
      	<div class="ui header">
	  TIFR, Bangalore
	</div>
      </div>
      <div class="column">
	<img class="ui tiny centered circular image" src="assets/seakhala.jpeg"/>
      	<div class="ui header">
	  Tulane University
	</div>
      </div>
    </div>
  </div>
</div>
