<div class="ui basic inverted segment">
  <div class="ui fluid container">
    <div class="ui secondary inverted menu">
      <a  href="/" class="item">Sushovan Majhi</a>
     
      <div class="right menu">
	<div class="item">
	  <div class="ui transparent icon input">
	    <input class="prompt" type="text" placeholder="search blog...">
	    <i class="search icon"></i>
	  </div>
	</div>
	<a href="/" class="item">Homepage</a>
	<div class="item">|</div>
	<a class="laptop item" href="https://facebook.com/SushovanMajhi">
	  <i class="facebook f icon"></i>
	</a>
	<a class="laptop item" href="https://www.linkedin.com/in/sushovan-majhi-04921815a">
	  <i class="linkedin icon"></i></a>
	<div class="ui mobile dropdown item">
	  <i class="bars icon"></i>
	  <div class="menu">
	    <a href="#research" class="item">Research</a>
	    <a href="#teaching" class="item">Teaching</a>
	    <a href="#coding" class="laptop item">Coding</a>	  
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
