<div class="ui basic segment" id="research">
  <div class="ui container">
    <h2 class="ui inverted center aligned icon header">
      RESEARCH
      <i class="lab icon"></i>
      <div class="sub header">
	For my PhD thesis, I work in the interface on mathematics and computer
	science. My thesis advisor is <a class="styled"
	href="//cs.tulane.edu/~carola">Prof. Carola Wenk</a>. I work in Topological Data Analysis.
      </div>
    </h2>
    <div class="ui raised segments">
      {% for project in site.research-projects %}
      <div class="ui clearing segment">
      	<div class="ui header">{{ project.title }}
	</div>
	<p>{{ project.description }}</p>
	<a class="ui mini basic blue right floated button" href="{{ project.url }}">
	  read more
	</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
