---
base_title: Sushovan Majhi
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="assets/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Sushovan Majhi</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
	    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	    crossorigin="anonymous">
    </script>
    <link rel="stylesheet"
	  href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js">
    </script>
    <link href="https://fonts.googleapis.com/css?family=Acme|Cofortaa" rel="stylesheet">
    <script src="/js/homepage.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    {% unless page.masthead %}
    <div class="ui inverted basic segment">
      {% include menu.html %}
    </div>
    {% endunless %}
    
    <div class="main content">{{ content }}</div>
    {% include footer.html %}
  </body>
</html>

